html, body {
    height: 100%;
}

.main {
    background-color: #f6f6f6;
    min-height: 100vh;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

button {
    cursor: pointer;
}

h1, h2, .logo-text, .error-message {
    font-weight: normal;
    font-size: 26px;
    text-align: center;
}

.main-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link a {
    color: #ffffff;
}

.header-link {
    margin-left: 20px;
    font-size: 17.5px;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.header-container {
    margin: auto;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: space-between;
}

header {
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: #1a1a1a;
    padding: 20px 0;
}

.footer-container {
    width: 35%;
    font-size: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    height: 5vh;
}

.footer-link {
    color: white;
}

.logo-text {
    margin: 0;
    margin-left: 80px;
}

.logo-text a {
    color: #ffffff;
}

ul {
    list-style: none;
}

.navigation li {
    display: inline;
    margin-right: 20px;
}

.main-content h2 {
    color: #333;
}

.main-content p {
    color: #555;
    font-size: 18px;
}

.home-poll-container, .home-poll-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-poll-form .default-button {
    margin-top: 5px;
}

.answer {
    padding-bottom: 20px;
}

.default-button {
    display: inline-block;
    background-color: #eeeeee;
    padding: 10px 10px;
    color: #030303bd;
    border: 2px solid #a7a7a700;
    border-radius: 3px;
    transition: background-color 0.9s ease;
    font-size: 16px;
    width: 20%;
}

.default-button:hover {
    background-color: #030303;
    color: #ffffff;
}

.header-button {
    font-size: 17.5px;
    color: #ffffff;
    border: none;
    padding: 10px 17px;
    border-radius: 2px;
    transition: background-color 0.5s ease;
}

.header-button:hover {
    background-color: #ffffff;
    color: #030303;
}

.links-btns {
    display: flex;
    justify-content: space-around;
    width: 580px;
    margin: auto;
    margin-top: 35px;
}

.auth-links {
    text-decoration: underline;
    color: black;
}

.home-img {
    width: 23%;
    height: 23%;
    margin-top: 100px;
}

.map-container {
    width: 100%;
    height: 95vh;
}

.auth-links {
    margin-right: 3vw;
}

.categories-list {
    position: absolute;
    top: 9vh;
    left: 18vw;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 10px;
    border-radius: 3px;
}

.categories-link {
    color: white; 
    cursor: pointer;

    -webkit-user-select: none;    /* Chrome, Safari, Opera */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none; 
}

.fade-block {
    opacity: 0;
    transition: opacity 0.3s ease; /* длительность 0.5s, плавность ease-in-out */
}
  
/* когда добавится класс .visible — начнётся переход к opacity:1 */
.fade-block.visible {
    opacity: 1;
}
