.create-mark-form-block {
    width: 70vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 2px;
    box-shadow: 0 0 10px #0f0a051a;
}

.mark-note {
    width: 100%;
    margin: auto;
    height: 10vh;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    border-bottom: 1px solid #030303;
}

.create-poll-main-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-files-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    margin-top: 30px;
}

.load-photo-block,
.load-video-block {
    flex: 1;
}

.load-photo-block label,
.load-video-block label {
    font-size: 17px;
    color: #000;
    display: block;
    margin-bottom: 13px;
}

.load-photo-block input,
.load-video-block input {
    background-color: #fff;
    color: #000;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.load-photo-block input:hover,
.load-video-block input:hover {
    background-color: #f0f0f0;
}

#photo-upload, #video-upload {
    display: none;
}

.file-upload-button {
    text-decoration: underline;
    background-color: #fff;
    color: #000;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.file-upload-button:hover {
    background-color: #f0f0f0;
}

.previews {
    margin-top: 15px;
    column-width: 230px;
    gap: 15px;
}

.preview-item img:hover,
.preview-item video:hover {
    cursor: pointer;
    box-shadow: 0 0 17px #0f0a0564;
}

.preview-item img,
.preview-item video {
    margin-top: 8px;
    max-width: 250px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 0 10px #0f0a0564;
    transition: box-shadow 0.3s;
}

.preview-item p {
    margin-top: 8px;
    font-size: 13px;
    color: #000;
    word-break: break-word;
    text-align: center;
}

.create-mark-button {
    margin-top: 20px;
    width: 170px;
}
