.create-mark-form-block {
    width: 70vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 2px;
    box-shadow: 0 0 10px #0f0a051a;
}

.mark-note {
    width: 100%;
    margin: auto;
    height: 10vh;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    border-bottom: 1px solid #030303;
}

.create-poll-main-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-files-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    margin-top: 30px;
}

.load-photo-block,
.load-video-block {
    flex: 1;
}

.load-photo-block label,
.load-video-block label {
    font-size: 17px;
    color: #000;
    display: block;
    margin-bottom: 13px;
}

.load-photo-block input,
.load-video-block input {
    background-color: #fff;
    color: #000;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.load-photo-block input:hover,
.load-video-block input:hover {
    background-color: #f0f0f0;
}

#photo-upload, #video-upload {
    display: none;
}

.file-upload-button {
    text-decoration: underline;
    background-color: #fff;
    color: #000;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.file-upload-button:hover {
    background-color: #f0f0f0;
}

.previews {
    margin-top: 15px;
    column-width: 230px;
    gap: 15px;
}

.preview-item img:hover,
.preview-item video:hover {
    cursor: pointer;
    box-shadow: 0 0 17px #0f0a0564;
}

.preview-item img,
.preview-item video {
    margin-top: 8px;
    max-width: 250px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 0 10px #0f0a0564;
    transition: box-shadow 0.3s;
}

.preview-item p {
    margin-top: 8px;
    font-size: 13px;
    color: #000;
    word-break: break-word;
    text-align: center;
}

.create-mark-button {
    margin-top: 20px;
    width: 170px;
}

.marker-circle {
    width: 19px;
    height: 19px;
    background-color: #2663c4c9;
    border-radius: 50%;
    border: 2px solid white;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.7s ease;
}

.marker-circle:hover {
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform 0.7s ease;
}
  
.cluster-circle {
    width: 32px;
    height: 32px;
    background-color: #2663c4c9;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    font-size: 14px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.7s ease;
}

.cluster-circle:hover {
    cursor: pointer;
    transform: scale(1.2);
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform 0.7s ease;
}

.preview-modal {
    padding: 20px 45px;
}

.mark-preview-item {
    border-bottom: 1px solid #00000089;
}

.mark-name-preview {
    text-decoration: underline;
}

.mark-block {
    width: 75vw;
    margin: auto;
    background-color: #ffffff;
    padding: 30px 50px;
    margin-top: 30px;
    border-radius: 2px;
    box-shadow: 0 0 10px #0f0a051a;
}

.mark-file video,
.mark-file img {
    max-width: 100%;
}

.mark-previews {
    margin-top: 15px;
    column-width: 23vw;
    gap: 15px;
}

.mark-title {
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #333;
}

.profile-link {
    margin-right: 2vw;
}

.heart {
    position: relative;
    width: 17px;
    height: 17px;
    background: #ababab;
    transform: rotate(-45deg);
    margin-bottom: 7px;
    transition: background-color 0.4s ease;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background: #ababab;
    border-radius: 50%;
    transition: background-color 0.4s ease;
}
  
.heart::before {
    top: -11px;
    left: 0;
}
  
.heart::after {
    top: 0;
    left: 11px;
}  

.heart:hover::before,
.heart:hover::after,
.heart:hover {
    background: #cecece;
    transition: background-color 0.4s ease;
    cursor: pointer;
}

.likes-block {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.likes-value span {
    text-align: center;
    color: #333;
}

.heart.liked,
.heart.liked::before,
.heart.liked::after {
    background-color: red;
    transition: background-color 0.4s ease;
}

.comments-block {
    width: 75vw;
    margin: auto;
    background-color: #ffffff;
    padding: 30px 50px;
    margin-top: 30px;
    border-radius: 2px;
    box-shadow: 0 0 10px #0f0a051a;
}

.comment-button {
    width: 8vw;
    margin-top: 8px;
    margin-bottom: 10px;
}

.comment-block {
    background-color: #f7f7f7;
    margin-bottom: 10px;
    padding-left: 7px;
    display: flex;
    justify-content: space-between;
}

.comment-author {
    padding-top: 5px;
}

.comment-text {
    padding-bottom: 5px;
}

.delete-comment-btn {
    margin-top: -75px;
    margin-right: 5px;
    font-size: 14px;
}

